
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  min-height: 100vh;
  display: flex;
  align-items: center;
  font-family: Arial, sans-serif;
  justify-content: center;
  background: url(bg.png);
  background-size: cover;
  background-position: center;
}
.container{
  position: relative;
  max-width: 900px;
  width: 100%;
  background-color: white;
  padding: 30px;
  margin: 0 15px;
}
header{
  position: relative;
  font-size: 20px;
  color: black;
}
.container form{
  margin-top: 16px;
}
.container form .fields{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
form .fields .input-field{
  display: flex;
  width: calc(100% / 3 - 15px);
  flex-direction: column;
  margin: 4px 0;
}
.input-field label{
  font-size: 12px;
  color: black;
}
.input-field input, select{
  outline: none;
  font-size: 14px;
  border-radius: 5px;
  border: 1px solid #aaa;
  padding: 0 15px;
  height: 42px;
  margin: 8px 0;
}
.container form button{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 45px;
  max-width: 200px;
  width: 100%;
  border: none;
  outline: none;
  color: white;
  border-radius: 5px;
  background-color: #fc00ff;
  cursor: pointer;
}
.container form button a {
  color: white; 
  text-decoration: none;
}